{% extends "base.html" %}

{% block main %}
<div class="welcome">
    <h1 class="title">ようこそ yuko のブログへ！</h1>
    <p class="subtitle">日々の記録</p>
    <a class="btn btn-primary" href="{% url 'article_new' %}">ブログ記事を投稿する</a>
</div>

{% if articles %}
<table class="table">
    <thead>
        <tr>
            <th>投稿者</th>
            <th>投稿日</th>
            <th>タイトル</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <th>{{ article.created_by.username }}</th>
            <th>{{ article.created_at }}</th>
            <th><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>ブログ記事はまだ投稿されていません。</p>
{% endif %}
{% endblock %}
            